# 자료형

## 실제 코딩할 때 딱 사용할 것 같은 것들만 추려서 정리하였습니다.

### 문자열 연산

In [3]:
# 숫자형은 패스하고 문자열 연산부터!

# Concatenation
'two '+'string'

'two string'

In [17]:
number=10; day='three'
'I ate %d apples. so I was sick for %s days.' %(number,day)

'I ate 10 apples. so I was sick for three days.'

|코드|설명|
|----|----|
|%s|string(문자열)|
|%c|character(문자하나)|
|%d|Integer|
|%f|floating-point|

In [18]:
# %s는 뒤의 값을 문자열로 바꿔준다.

In [19]:
# 퍼센테이지를 쓸 때에는 다음과 같다.
'Error is %d%%.' %98

'Error is 98%.'

In [23]:
'%-10sjane.' % 'hi'

'hi        jane.'

In [24]:
'%0.4f' % 3.421342

'3.4213'

In [35]:
num = input()
day = 3
'I ate {0} apples. so I was sick for {1} days'.format(num, day)

2

'I ate 2 apples. so I was sick for 3 days'

In [18]:
print('%10s.' % 'hi', '{0:<10}'.format('hi'), '{0:>10}'.format('hi'), '{0:^10}'.format('hi'),
      '{0:=^10}'.format('hi'), '{0:!<10}'.format('hi'), sep='\n')

        hi.
hi
        hi
    hi
====hi====
hi!!!!!!!!

In [6]:
a = 'hobby'
print(a.count('b'), a.find('b'), a.index('b')) # b의 갯수, 처음으로 b가 나온 위치(존재x인 경우 find는 -1, index는 error)

2 2 2

In [8]:
",".join('abcd') # R에서 paste('a','b','c','d',sep=',')

'a,b,c,d'

그 외에도 upper, lower, lstrip, rstrip, strip, replace, split 등이 있다.

### 리스트연산

In [29]:
a = [1,2,['a','b',['Life','ls']]] # 다중리스트

In [30]:
a[2][2][0]

'Life'

In [31]:
a[2][:2]

['a', 'b']

In [32]:
a[2] = 4
a # 자주사용, index를 찾아서 바꿔주는 느낌으로.

[1, 2, 4]

In [33]:
del a[1]
a # 슬라이싱으로 여러개 삭제가능

[1, 4]

append와 extend가 있는데 append의 경우에는 리스트 형태 그대로 들어가고 extend는 원소로 들어간다.

In [34]:
a.insert(0,4)
a # 0번째에 4를 삽입.

[4, 1, 4]

In [35]:
a.remove(4)
a # 첫번째 나오는 요소 제거

[1, 4]

### 튜플연산

In [36]:
# 튜플은 변경 혹은 삭제가 안됨 -> array에서 조절이 안되어서 리스트로 변환하는 경우가 많다.

### 딕셔너리

In [37]:
# Key, value로 이루어진 경우. sequential하지 않음.

In [38]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'} # Key에는 리스트 대신 튜플만 가능.

In [40]:
a['name']

'pey'

In [47]:
print(list(a.keys()), list(a.values()), list(a.items()), a.get('name'), 'pey' in a, 'name' in a,sep='\n')
#원래는 dict_keys 형태라서 list씌워준것. in의 경우 key를 조사.

['name', 'phone', 'birth']
['pey', '0119993323', '1118']
[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]
pey
False
True

### 집합

In [49]:
s1 = set([1,2,3,4])
s2 = set([4,5,6,7]) # 중복제거할 때 자주사용

In [52]:
print(s1&s2, s1|s2, s1-s2, sep='\n')

{4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}

### 연습문제

In [60]:
# Q1
import numpy as np
score = {'국어':80, '영어':75, '수학':55}
## [1]
np.mean(list(score.values()))

70.0

In [76]:
# Q2
num = 13
r = num % 2
if r==1:
    print(f'{num}은 홀수이다.')
else:
    print(f'{num}은 짝수이다.')

13은 홀수이다.

In [85]:
# Q3
id = '881120-1068234'
print(f'19{id[0:2]}년 {id[2:4]}월 {id[4:6]}일, 뒷자리는 {id[7:]}')

1988년 11월 20일, 뒷자리는 1068234

In [94]:
# Q4
pin = "881120-1068234"
if(pin[pin.find('-')+1]=='1'):
    print('남성')
else:
    print('여성')

남성

In [96]:
# Q5
a = "a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [114]:
# Q6
a = [1,3,5,4,2]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [117]:
# Q9
a = dict()
a
{} #3번. key에 list 불가.
a[[1]]='python'

TypeError: unhashable type: 'list'

In [119]:
# Q10
a = {'A':90, 'B':80, 'C':70}
a.get('B')

80

In [128]:
# Q11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

In [130]:
# Q12
a = b = [1,2,3]
d=a.copy()
a[1] = 4
print(b) 
print(d) # .copy는 영향안받음.

[1, 4, 3]
[1, 2, 3]

# 제어문

In [131]:
# Q1
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [169]:
# Q2
num = 3
sum = 0
while(num<=1000):
    num += 3
    sum += num
print(sum)

167832

In [142]:
# Q3
n = 0
while(n<=4):
    n += 1
    print('*'*n)

*
**
***
****
*****

In [162]:
# Q4
for num in range(1,101):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [172]:
# Q5
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
num = 0
for score in scores:
    num += score
print(num/len(scores))

79.0

In [179]:
# Q6
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

[2*num for num in numbers if num % 2 ==1]
# [표현식 for 항목1 in 반복가능객체1 if 조건문1
# for 항목2 in 반복가능객체2 if 조건문2]

[2, 6, 10]